streamlit
pandas==2.2.2
geopy==2.4.1
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0
numpy==1.26.4
wordcloud==1.9.3
ydata-profiling==4.8.3
scikit-learn==1.5.0
folium==0.17.0
pandas-profiling==3.0.0
visions==0.7.6
geopy
